---
import CardUs from "@components/about-us/CardUs.astro";
import { us } from "@data/us.ts";
import SectionContainer from "@components/ui/SectionContainer.astro";
import Container from "@components/ui/Container.astro";
---

<SectionContainer background="white">
  <Container>
    <div
      class="grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3"
    >
      {
        us.map(({ url, title, description, bg, route }) => (
          <CardUs
            url={url}
            title={title}
            description={description}
            bg={bg}
            route={route}
          />
        ))
      }
    </div>
  </Container>
</SectionContainer>
