---
import SectionContainer from "@uiComponents/SectionContainer.astro";
import Container from "@components/ui/Container.astro";
import { authorities } from "@data/authorities";
import AuthorityCard from "@components/about-us/AuthorityCard";
---

<SectionContainer background="white">
  <Container>
    <div class="w-full grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
      {
        authorities.map(({ src, alt, name, role, message }) => (
          <AuthorityCard
            client:load
            src={src}
            alt={alt}
            name={name}
            role={role}
            message={message}
          />
        ))
      }
    </div>
  </Container>
</SectionContainer>
