---
import SectionContainer from "@uiComponents/SectionContainer.astro";
import Container from "@components/ui/Container.astro";
import { authorities } from "@data/authorities";
import AuthorityCard from "@components/about-us/AuthorityCard";
import { getAuthority } from "@services/authorityService";

const authority = await getAuthority();
---

<SectionContainer background="white">
  <Container>
    <div class="w-full grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
      {
        authority.map(({ rol, name, lastName, message, imageUrl }) => (
          <AuthorityCard
            client:load
            src={imageUrl}
            alt={rol}
            name={name}
            lastName={lastName}
            role={rol}
            message={message}
          />
        ))
      }
    </div>
  </Container>
</SectionContainer>
