---
import BaseLayout from "@layouts/BaseLayout.astro";
import HeroSection from "@components/ui/HeroSection.astro";
import SectionEventNews from "@components/ui/SectionEventNews.astro";
import EventList from "@components/events/EventList";
---

<BaseLayout
  title="Eventos | Institución Educativa N.º 89007"
  description="Descubre los próximos eventos y actividades de la Institución Educativa N.º 89007 en Chimbote, Perú. Participa en nuestras actividades educativas y culturales."
  url="https://institucioneducativa89007-4fzq.vercel.app/eventos"
>
  <HeroSection
    title="Eventos Institucionales"
    description="Participa en las actividades más importantes del año escolar. Desde celebraciones hasta ferias educativas, cada evento fortalece el vínculo entre estudiantes, docentes y familias."
    url="https://cademin.org/wp-content/uploads/2024/08/que-es-mejor-estudiar-educacion-infantil-o-primaria.jpg"
  />
  <SectionEventNews background="#f2f4f7">
    <div class="w-full m-auto grid grid-cols-1 gap-4 sm:max-w-xl">
      <EventList client:load />
      <!-- {
        
        // events.map(
        //   ({
        //     title,
        //     description,
        //     location,
        //     startDate,
        //     endDate,
        //     imageUrl,
        //     createdAt,
        //   }) => (
        //     <EventCard
        //       client:load
        //       title={title}
        //       description={description}
        //       imageUrl={imageUrl}
        //       location={location}
        //       startDate={startDate}
        //       createdAt={createdAt}
        //       endDate={endDate}
        //     />
        //   )
        // )
      } -->
    </div>
  </SectionEventNews>
</BaseLayout>
