---
import Button from "@components/ui/Button.astro";

interface Props {
  url: string;
  path: string;
  title: string;
  color: string;
  text: string;
}

const { path, url, title, color, text } = Astro.props;
---

<article class="w-full flex flex-col gap-8">
  <figure class="w-full">
    <img
      class="w-full aspect-[16/12] object-cover rounded-2xl shadow-xl"
      src={url}
      alt={title}
    />
    <figcaption class="sr-only">{title}</figcaption>
  </figure>
  <div class="w-full grid place-content-center">
    <Button
      url={path}
      bg={color}
      color="#fff"
      text={text}
      transform="capitalize"
      weight="600"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        ><path
          fill="#fff"
          d="M12.293 5.293a1 1 0 0 1 1.414 0l6 6a1 1 0 0 1 0 1.414l-6 6a1 1 0 0 1-1.414-1.414L16.586 13H5a1 1 0 1 1 0-2h11.586l-4.293-4.293a1 1 0 0 1 0-1.414"
        ></path></svg
      >
    </Button>
  </div>
</article>
