---
import Button from "@uiComponents/Button.astro";

interface Props {
  url: string;
  title: string;
  description: string;
  bg: string;
  route: string;
}

const { url, title, description, bg, route } = Astro.props;
---

<article
  class="w-full shadow-xl transition-all duration-400 h-full grid grid-rows-[auto_1fr] overflow-hidden rounded-xl lg:hover:transform-[scale(1.03)] lg:hover:shadow-2xl"
>
  <figure class="w-full">
    <img
      class="w-full object-cover rounded-t-xl aspect-square"
      src={url}
      alt={title}
      loading="lazy"
    />
  </figure>
  <div class="w-full p-6 rounded-b-xl" style=`background-color: ${bg};`>
    <h2
      class="text-white uppercase font-bold text-center mb-8 text-xl md:text-[1.5em] lg:text-[1.5em]"
    >
      {title}
    </h2>
    <p class="text-white text-lg mb-8">{description}</p>
    <div class="flex items-center justify-center">
      <Button
        url={route}
        bg="#039fcf"
        color="#fff"
        transform="none"
        weight="600"
        text="Conoce más"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          ><path
            fill="#fff"
            d="M12.293 5.293a1 1 0 0 1 1.414 0l6 6a1 1 0 0 1 0 1.414l-6 6a1 1 0 0 1-1.414-1.414L16.586 13H5a1 1 0 1 1 0-2h11.586l-4.293-4.293a1 1 0 0 1 0-1.414"
          ></path></svg
        >
      </Button>
    </div>
  </div>
</article>
